<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.expose.system.dal.mysql.dept.DeptMapper">

    <!-- 根据业务表查询实际使用的部门 -->
    <select id="selectDeptsByTable" resultType="com.api.expose.system.dal.dataobject.dept.DeptDO">
        SELECT DISTINCT d.*
        FROM system_dept d
        INNER JOIN ${tableName} t ON d.id = t.dept_id
        WHERE d.status = 0 
          AND d.deleted = 0 
          AND t.deleted = 0
        ORDER BY d.sort ASC
    </select>

</mapper>
